[submodule "src/Pangolin"]
	path = src/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "src/rviz"]
	path = src/rviz
	url = https://github.com/ros2/rviz.git
	branch = humble
[submodule "src/image_common"]
	path = src/image_common
	url = https://github.com/ros-perception/image_common.git
	branch = humble
[submodule "src/ORB_SLAM3"]
	path = src/ORB_SLAM3
	url = https://github.com/eshan-sud/ORB_SLAM3
[submodule "src/message_filters"]
	path = src/message_filters
	url = https://github.com/ros2/message_filters.git
	branch = humble
[submodule "src/rclcpp"]
	path = src/rclcpp
	url = https://github.com/ros2/rclcpp.git
	branch = humble
[submodule "src/octomap"]
	path = src/octomap
	url = https://github.com/OctoMap/octomap.git
[submodule "src/octomap_ros"]
	path = src/octomap_ros
	url = https://github.com/OctoMap/octomap_ros.git
	branch = ros2
[submodule "src/geometry2"]
	path = src/geometry2
	url = https://github.com/ros2/geometry2.git
	branch = humble
[submodule "src/common_interfaces"]
	path = src/common_interfaces
	url = https://github.com/ros2/common_interfaces.git
	branch = humble
[submodule "src/OpenCV/opencv"]
	path = src/OpenCV/opencv
	url = https://github.com/opencv/opencv.git
[submodule "src/OpenCV/src/OpenCV/opencv_contrib"]
	path = src/OpenCV/src/OpenCV/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "scripts/setup/src/vision_opencv"]
	path = scripts/setup/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
